.navbar{
    display: flex;
    width: 95%;
    height: 106px;
    margin: auto auto;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.navbarLogo{
    width: 114px;
    height: 29px;
}
.navLinks{
    width: 45%;
}
.navLinks ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    color: #222222;
}
.navCta{
    width: 23%;
    display: flex;
    justify-content: space-between;
}
.navCta div:last-child{
    padding: 8px 26px;
}

/* Logged in nav*/
.userNav{
    display: flex;
    width: 95%;
    height: 76px;
    margin: auto auto;
    align-items: center;
    padding: 0 42px 0 42px;
    display: flex;
    gap: 10%;
    background: #FFEAC4CC;
}
.vendorNav{
    justify-content: space-between;
}
.welcome{
    font-weight: 700;
    font-style: Bold;
    font-size: 1.5rem;

}
.userNavMenu{
    width: max-content;

}
.userNavMenu ul{
    width: max-content;
    display: flex;
    gap: 48px;
    list-style-type: none;
    align-items: center;
}
.userNavMenu ul li{
    display: flex;
    gap: 8px;
    align-items: center;
}
.userNavMenu ul .icons{
    width: 21px;
    height: 18px;
}
.active{
    color: #82027D;
}
.hamburger {
  display: none;
  cursor: pointer;
}

@media (max-width: 1024px) {
    .navLinks{
        width: 52%;
    }
    .navCta{
        width: 25%;
    }
    .navCta div:last-child{
        padding: 8px 16px;
    }
}
@media (max-width: 875px) {
    .navbar{
        width: 95%;
        height: 106px;
        margin: auto auto;
        align-items: center;
        position: relative;
    }
    .navLinks{
        position: absolute;
        margin-left: 0px;
        width: 40%;
        padding: 10px 50px;
        height: auto;
        background: #fafafa;
        display: flex;
        justify-content: none;
        transform: translate(0%, -20%);
        top: 150;
        right: 0%;
        justify-content: right;
        align-items: end;
    }
    .navLinks ul{
        display: flex;
        list-style-type: none;
        font-size: 18px;
        font-weight: 500;
        color: #222222;
        flex-direction: column;
        padding-right: 0;
        gap: 30px;
        
    }
    .hamburger {
        display: flex;
        justify-content: right;
        color: #82027d;
    }
    .showMenu{
        display: none;
    }
    .navCta{
        width: 45%;
        align-items: center;
    }
}

@media (max-width: 630px) {

    .navCta{
        width: 60%;
    }
}