@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root {
  --background: #fafafa;
  --foreground: #171717;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main{
  min-height: 100vh;
  width: 100vw;
  max-width: 95%;
  margin: auto auto;
/*   border: 1px solid black; */
}


/*  Text styles  */
h1{
  font-size: 40px;
  font-weight: 800;
  letter-spacing: -2%;
  font-style: italic;

}
h2{
  font-size: 32px;
  font-weight: 700;
}
h3{
  font-size: 26px;
  font-weight: 700;
}
p{
  font-weight: 500;
  font-size: 16px;
}
.txtHeader{
  font-weight: 700;
  font-size: 18px;
  color: #222222;
}

/* CTA's */
.btnCapsule{
  font-weight: 600;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
/*   align-content: center; */
  align-items: center;
  background: #82027D;
  color: white;
  border-radius: 24px;
  cursor: pointer;
}
.btnNoCapsule{
  font-weight: 600;
  font-size: 16px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  color: #82027D;
  border-radius: 24px;
  letter-spacing: -2%;
  gap: 10px;
  cursor: pointer;
}


.sectionHeader{
/*   border: solid 1px red; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
.sectionHeaderCenter{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 32px;
}
.line{
  width: 27px;
  height: 10px;
  border-radius: 24px;
  background: #82027D;
}
section{
  width: 100%;
  height: auto;
}

/* Card Pack */
.cardPack{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px 16px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* user stats pack*/
.stats{
  margin: 36px 0 27px 0;
}
.statsPack{
  width: 100%;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
}

/* Double*/
.mainContent{
 /*  border: 1px solid black; */
  display: flex;
  gap: 24px;
  width: 100%;
  height: auto;
  padding: 0 3% 0 4%;
  margin-top: 18px;
}
.aside{
 /*  border: 1px solid rgb(129, 72, 72); */
  width: 35%;
}
.bookingTitle{
  font-weight: 700;
  font-size: 20px;
  text-align: center;

}
.bookingPricing{
  border-radius: 16px;
  border: 1px solid #CFCFCF;
  padding: 32px 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.bookVendor{
  font-weight: 700;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: fit-content;
  padding: 16px 48px;
  align-content: center;
  align-items: center;
  background: #82027D;
  color: white;
  border-radius: 24px;
  cursor: pointer;
}
.vendor{
  background: #FFEAC466;
  height: fit-content;
  padding: 35px 0;
  border-radius: 16px;
}
.vendorImgPack{
  display: flex;
  justify-content: center;
}
.vendorImg{
  width: 206px;
  height: 206px;
  object-fit: cover;
  border-radius: 999px;
  border: 11px solid #fbfbfb;
  margin: -150px auto 0 auto;
}
.vendorName{
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -2%;
  text-align: center;
  margin-bottom: 8px;
}
.vendorDetails{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.catPill{
  width: fit-content;
  padding: 8px 30px;
  border-radius: 24px;
  background: #ffffff;
  margin-top: 12px;
}
.catPill li{
  font-size: 19px;
  font-weight: 600;
}
.catPill li::marker{
  color: #82027D;
}
.ratingPack{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}
.ratingStars{
  margin: 15px 0 12px 0;
}

.mainSection{
  width: 73%;
/*   border: 1px solid red; */
}
.mainSection h2{
  margin-top: 26px;
}
.descPack{
  width: 100%;
  height: auto;
  color: #636363;
  margin: 0px 0px 0px 0;
/*   border: 1px solid #CFCFCF; */
  border-radius: 12px;
  padding: 16px 0px;
}

/* Deatils Header*/
.header{
  width: 100%;
  height: 354px;
  overflow: hidden;
  border-radius: 24px;
}
.bannerImg{
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: top;
}

input{
  width: 100%;
  height: 56px;
  padding: 10px 24px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
}
select{
  width:  auto;
/*   width:  869px; */
  max-width: 869px;
  min-width: 0;
  box-sizing: border-box;
}

.backBtn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: #222222;
  cursor: pointer;
  margin-top:20px;
}
.error{
  color:  #ED4337;
}

.vendorItem{
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 20px;
}