.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #636363;
  --text-black: #222222;
  --text-purple: #82027D;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
}

.main {
/*   border: solid 1px black; */
/*   display: flex; */
  min-height: 100vh;
  width: 100vw;
  max-width: 95%;
/*   flex-direction: column;
  align-items: flex-start;
  justify-content: space-between; */
  background-color: var(--background);
/*   padding: 120px 60px; */
}

/* Header */
.header{
  width: 100%;
  height: 567px;
  background-image: url('/images/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  padding-left: 72px;
  margin-bottom: 56px;
}
.headerTxt{
  width: 526px;
  height: 300px;
/*   border: 1px solid black; */
}
.headerTxt p:first-child{
  font-weight: 800;
  font-style: Italic;
  font-size: 48px;
  letter-spacing: -2%;
  color: #fbfbfb;
}
.headerSubHeading{
  margin-top: 14px;
  color: #fbfbfb;
  line-height: 32px;
}
.headerTxt p:first-child span{
  color: #F586F1;
}
.headerTxtBtns{
  display: flex;
  width: 100%;
  gap: 8px;
  margin-top: 48px;
}
.headerTxtBtns div{
  padding: 12px 26px;
}
.headerBtn1{
  border: solid 1px white;
  background: #f1f1f1;
  color: #82027D;
}
.headerBtn2{
  border: solid 1px white;
  background: transparent;
  color: white;
}

/* popular Category */
.popularCatPack{
  position: relative;
}
.moreCat{
  width: 180px;
  position: absolute;
  margin-top: -20px;
  top:65;
  right: 0%;
  background: white;
}
.moreCat ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.moreCat ul li{
  padding: 12px 18px;
  font-size: 16px;
  color: #636363;
  font-weight: 600;
}

/* Featured */
.featured{
  margin-top: 80px;
  padding-top: 32px;
}


/* How It Works */
.hiWorks{
  margin-top: 120px;
  padding: 0 52px;
}
.worksCardPack{
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}
.worksCard{
  width: 268px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.pinkLine {
  margin-top: 3%;
  width: 266px;
  height: 2px; /* thickness of the line */
  background: repeating-linear-gradient(
    to right,
    #82027D 0,
    #82027D 2px,      /* dot size */
    transparent 2px,
    transparent 8px   /* spacing between dots */
  );
}
.pinkLine::before,
.pinkLine::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 6px; /* larger dot size */
  height: 6px;
  background-color: #82027D;
  border-radius: 50%; /* makes them round */
}
.number{
  width: 89px;
  /* height: 91px; */
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  padding: 10px;
  color: white;
  background: #82027D;
  border-radius: 16px;
  margin: auto auto;
}
.worksCard div{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Why Chosoe */
.whyChoose{
  margin-top: 160px;
}
.chooseContainer{
  width: 82%;
  height: auto;
  margin: 24px auto auto auto; 

}
.cardChoose{
  display: flex;
  align-items: end;
  gap: 5%;
  justify-content: center;
}
.cardChooseImg{
  width: 527px;
  height: 667px;
}
.chooseCardTxt{
  width: 457px;
  height: 516px;
}
.cCardHeader{
  width: 300px;
  padding: 16px 24px;
  background: #FFEAC4;
  border-radius: 24px;
  display: flex;
  justify-content: center;
}
.cCardHeader li{
  font-weight: 700;
  font-size: 23px;
  letter-spacing: -4%;
}
.cCardHeader li::marker{
  color: #82027D;
}
.chooseList{
  margin-top: 50px;
}
.chooseListTxt{
  margin-top: 20px;
  display: flex;
  gap: 16px;

}
.chooseListTxt div{
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 20px;
  border-bottom: 1px solid #CFCFCF ;
}
.cardChooseCheck{
  width: 27px;
  height: 19px;
}

.footer{
  margin-top: 107px;
}

@media (max-width: 1280px) {

}
@media (max-width: 768px) {
  .featured{
    margin-top: 40px;
  }
}

@media (max-width: 640px) {
  .header{
    padding-left: 0%;
    margin-bottom: 56px;
  }
  .headerTxt{
    width: 90%;
    height: 78%;
    margin: auto auto;
  }
  .headerTxt p:first-child{
    line-height: 55px;
  }
  .featured{
    margin-top: 20px;
  }
}