.backBtn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: #222222;
  cursor: pointer;
  margin-top:20px;
}
.mainContent{
  margin-top: 120px;
}
.cityTitle{
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
  letter-spacing: -2%;
}
.pillsPack{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 7px 8px;
}
.cityPills{
  width: fit-content;
  padding: 7px 10px;
  border-radius: 24px;
  background: #EFEFEF;
  color: #222222;
  font-size: 14px;
  font-weight: 600;
}


.vendorItem{
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}